<% include header.html %>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <section>
            <h3><%= __('Advertisements published') %></h3>
            <p><% ads.forEach (ad => { %></p>
            <article class='container'>
              <div class='content'>
                <h4><%= ad.name %></h4>
                <p><% if(ad.sale) { %></p>
                <h4><%= __('For sale') %></h4>
                <p><% } else { %></p>
                <h4><%= __('To buy') %></h4>
                <p><% } %></p>
                <h4><%= __('Price:') %><b><%= ad.price %></b></h4>
                <h5><%= __('Tags:') %><%= ad.tags %></h5>
              </div>
              <div class='img-frame'>
                <img class='image' src='<%= ad.photo %>' alt=<%= ad.photo %>>
              </div>
            </article>
            <p><% }) %></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</header>


<% include foot.html %>