<% include header.html %>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto cabecera">
          <section>
            <p><%= __('Advertisements published') %></p>
            <p><% ads.forEach (ad => { %></p>
            <article class='container'>
              <div class='content'>
                <h3><%= ad.name %></h3>
                <p><% if(ad.sale) { %></p>
                <h3><%= __('For sale') %></h3>
                <p><% } else { %></p>
                <h3><%= __('To buy') %></h3>
                <p><% } %></p>
                <h3><%= __('Price:') %><b><%= ad.price %></b></h3>
                <h3><%= __('Tags:') %><b><%= ad.tags %></b></h3>
              </div>
              <div class='img-frame'>
                <img class='image' src='<%= ad.photo %>' alt=<%= ad.photo %>>
              </div>
            </article>
            <p><% }) %></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</header>


<% include foot.html %>