<% include header.html %>

<div class="container formulario">
  <header>
    <h1><%= title %></h1>
    <p><%= __('Advertisements published') %></p>
  </header>
  <section>
    <p><% ads.forEach (ad => { %></p>
    <article class='container'>
      <div class='content'>
        <h2><%= ad.name %></h2>
        <p><% if(ad.sale) { %></p>
        <h3><%= __('For sale') %></h3>
        <p><% } else { %></p>
        <h3><%= __('To buy') %></h3>
        <p><% } %></p>
        <h3><%= __('Price:') ad.price %></h3>
        <p><b><%= __('Tags:')' %></b><%= ad.tags %></p>
      </div>
      <div class='img-frame'>
        <img class='image' src='<%= ad.photo %>' alt=<%= ad.photo %>>
      </div>
    </article>
    <p><% }) %></p>
</div>

<% include foot.html %>